.selector {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
    width: 20vw;
    height: 20vw;
    max-width: 25vh;
    max-height: 25vh;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.4);
    background-color: rgba(64, 98, 187, 0.35);
    margin-right: 30px;
    margin-top: 30px;
}

.selector:hover {
    box-shadow: 0px 1px 25px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.selector h3 {
    position: absolute;
    bottom: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.selector-img {
    position: absolute;
    width: 75%;
    height: 75%;
}

.game-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

.gamesBG {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #1f305b;
    display: flex;
    justify-content: space-around;
}

.gameGrid {
    margin-top: 110px;
    display: flex;
}

@media only screen and (max-width: 800px) {
    .selector {
        width: 80vw;
        height: 80vw;
        max-width: 30vh;
        max-height: 30vh;
    }
}

@media only screen and (max-width: 850px) {
    .gameGrid {
        margin-top: 110px;
        display: block;
    }
}
